.mainContainer{
  position: fixed;
    width: 100vw;
    display: flex;
    height: 100vh;
    
}
.leftContainer{
  padding-top: 5vh;
    height: 100%;
    width: 25%;
    /* border: 1px solid blue; */
}
.middleContainer{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    /* border: 1px solid blue; */
}

/* .selectChild{
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 5vw;
} */

.rightContainer{
    height: 100%;
    width: 15%;
    /* border:1px solid green; */
}
/* Basic styles for the chatbot */

/* select {
    width: 20vw; 
    padding: 10px; 
    font-size: 16px;
    border: 1px solid #d6dae1; 
    border: 1px solid blue; 
    border-radius: 5px; 
    background-color: #fff; 
    color: #333;
    cursor: pointer;
    appearance: none; 
} */

/* .selectCont{
  padding: 15px !important;
} */

.audioIcon{
  width: 1.5vw;
}

/* select:focus {
    outline: none; 
    border-color: #007bff; 
} */

/* select option {
    outline: 1px solid transparent; 
    margin: 8px; 
    padding:  8px 16px;
    border: 1px solid#d6dae1; 
    background-color: #fff; 
    color: #333; 
} */
/*   
select option:hover {
    background-color: #f0f0f0;    
} */

option {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
option::-webkit-scrollbar {
  display: none;
}

.chatContainer {
  width: 50vw;
  max-width: 50vw;
  margin: 50px auto;
  border: 1px solid #dcdcdc;
  max-height: 80vh;
  border-radius: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-family: Arial, sans-serif;
}


.chatDisplay {

  flex: 1;  
  padding: 10px;
  margin: 10px 0;
  overflow-y: auto;
  height: 300px;
  background: #f9f9f9;
  /* border-bottom: 1px solid #ddd; */
  display: flex;
  flex-direction: column;
  gap: 40px;
  user-select: text;
  /* border: 1px solid green; */
}

.chatDisplay {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.chatDisplay::-webkit-scrollbar {
  display: none;
}
.messageCont{
    width: 100%;
    /* border: 1px solid blue; */
    flex: 1;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.user-side {
  flex-direction: row-reverse;
    justify-content: flex-start;
}

.bot-side {
    justify-content: flex-start;
    align-items: center;
}

.message {
  margin: 10px;
  /* padding: 10px 12px; */
  /* border: 1px solid blue; */
  border-radius: 12px;
  /* word-wrap: break-word; */
  /* min-width: fit-content; */
  width: fit-content;
  max-width: 70%;
  user-select: text;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap:0.8vw; */
  font-weight: 400;
  line-height: 41px;
  position: relative;
}
.messageMeta {
    position:absolute ;
    /* border: 1px solid black; */
    font-size: 12px;
    color: #888;
    padding: 0;
    height: 3vh;
    margin: 0;
    text-align: right;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: right;
    /* flex-direction: column; */
    gap: 1vw;
    bottom: -3.5vh;
    right: 0;
    /* margin-top: 5px; */
}

.user-message {
  align-self: flex-end;
/* align-items: reverse; */
/* flex-direction: column-reverse; */
  text-align: left;
  user-select: text;
  align-items: center;
}
.userText:first-line {
    white-space: nowrap;
    text-align: right;
}
.userText{
    font-weight: 14px;
    color: #121926;
    /* border: 1px solid black; */
    border-radius: 12px 0 12px 12px;
    padding: 10px 12px;
    background-color: #EEF2F6;
}


.bot-message {
  
    font-weight: 14px;
    color: #121926;
    width: max-content;
    /* border: 1px solid black; */
    padding: 10px 12px;
  align-self: flex-start;
  background-color: #EEF2F6;
  text-align: left;
  user-select: text;
}
.agentIcon{
  width: 2vw;
}
.userAgentData ,.botAgentData{
  border: 1px solid #dcdcdc;
  /* border: 1px solid green; */
  border-radius: 0.5vw;
  
  padding: 5px;
  font-size: 0.8vw;
  display: flex;
  flex-direction: column;
}
.userArtifact ,.botArtifact{
  border: 1px solid #dcdcdc;
  /* border: 1px solid green; */
  border-radius: 0.5vw;
  /* padding: 5px; */
  font-size: 0.6vw;
}
.noartifactData{
  border: none;
  /* border: 1px solid green; */
}

.userArtifactCont,.botArtifactCont{
  display: flex;
  flex-direction: column;
  gap: 0;
}
/* .innerDataCont{
  width: 14vw;
  display: flex;
  margin: 0;
  line-height: 1;
  border: 1px solid black;
  justify-content: flex-start;
    align-items: center;
  padding: 0;

} */

.innerDataCont {
  width: 14vw;
  display: flex;
  margin: 0;
  line-height: 1;
  /* border: 1px solid black; */
  justify-content: flex-start;
  align-items: center;
  padding: 3px 6px;
  gap:1vw;
  /* overflow: hidden; */
}

.innerDataCont > * {
  margin: 0;
  padding: 4px 0;
  vertical-align: middle;
}


.keyName{
  width: 4vw;
  /* border: 1px solid black; */
  font-weight: 500;
  align-items: center;
}
.valueName{
  word-wrap: break-word; /* Allow wrapping at word boundaries */
  word-break: break-word; 
  font-weight: 200;
  line-height: 1.5;
  color:#555;
}
.userAgentData{
  /* justify-content: reverse; */

}
.botAgentData{
  /* font-size: 12px; */
  justify-content: right;

}
.favIcon,.speakerIcon,.artifactStoreIcon{
    /* border: 1px solid blue; */ 
    width: 1vw;
    height: 1vw;
    object-fit: contain;
    align-items: center;
    justify-content: center;
}
.humanAgentIcon{
  width: 1vw;
  object-fit: contain;
}
.speakerIcon{
  width: 2vw;
  position: absolute;
object-fit: contain;
right: 0;
bottom: 0; 
  /* right:5.6vw;
  bottom: -3vh; */
}

.inputContainer {
  width: 95%;
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  /* background: #fff; */
  /* background: #e8e9eb; */
}

input[type="text"] {
  flex: 1;
  font-size: 20px;
  padding: 10px;
  background-color:  #f9f9f9;
  border: none !important;
  border-radius: 5px;
  outline: none !important;
}


#send-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="file"] {
  display: none;
}

label {
  padding: 10px 10px;
  background-color: #e8e9eb;
  color: #fff; 
  border-radius: 5px;
  cursor: pointer;
}

label:hover {
  background-color: #5a6268;
}
.sendIcon,
.fileIcon {
  width: 2vw;
  border-radius: 5px;
  border: none;
  /* height: 2vh; */
}
.fileIcon{
    background-color: #e8e9eb;
    /* border: 1px solid black; */
}
.typing {
    display: inline-block;
    position: relative;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background-color: #555;
    border-radius: 50%;
    animation: wave 1.5s infinite ease-in-out;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes wave {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}

#sessionList{
  /* border: 1px solid black; */
  width:70% ;
  margin-top: 2vh;
  max-height: 50vh;
  overflow-y: auto;
}
#sessionList {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#sessionList::-webkit-scrollbar {
  display: none;
}
.session-div {
  width: 90%;
  padding: 10px;
  margin: 0.6vw 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

/* Hover effect */
.session-div:hover {
  background-color: #f1f1f1;
}

/* Highlight the selected session */
.session-div.selected {
  background-color: #d3eafd;
  border-color: #007bff;
  font-weight: bold;
}

/* Message styling */
.no-sessions-message {
  text-align: center;
  color: #666;
  font-style: italic;
  margin-top: 20px;
}


/* <style> */
/* :host {
  display: block;
  margin: 0 auto;
  max-width: 300px;
} */
/* .dropdownselect{
  width: 70%;
  padding: 8px;
  margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  appearance: none;
  outline: none;
  cursor: pointer;
} */

select { 
   width: 70%;
  padding: 8px 0px;
  /* margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  appearance: none;
  outline: none;
  cursor: pointer; */
} 


.optionCont{
  width: 90%;
  padding:3vw;
  border-radius :0.5vw;
  /* background-color: green; */
}

select:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.6);
}

.optioncont{
  width: 70%;
  border: 1px solid black;
}

option:hover {
  background-color: #f0f0f0;
}

.customOption{
  display: flex;
  border: 1px solid back;

  /* background-color: green; */

  
  margin:3px 0px;

  padding: 4px ;
} 


 